body{
  color: white;
  font-family: "Droid Sans", sans-serif;
  font-size: 14px;
}

h1{
  font-size: 44px;
  font-family: "Quando", serif;
  font-weight: normal;
}

.left-arrow{
  width: 34px;
  height: 54px;
  background: url('../img/left_arrow.png') no-repeat;
  cursor: pointer;
}
.right-arrow{
  width: 34px;
  height: 54px;
  background: url('../img/right_arrow.png') no-repeat;
  cursor: pointer;
}

.navbar .navbar-inner{
  min-height:50px;
  background-image: none;
  background-color: rgba(228,25,16,, 0.7);
  border:0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  filter: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.navbar .navbar-inner .container{
  padding-top: 10px;
  padding-bottom: 5px;
}

.navbar .brand{
  font-weight: 400;
  color: white;
  text-shadow: none;
}

.navbar .nav > li > a,
.navbar .nav > li.active > a
{
  color: rgba(255, 255, 255, 0.9);
  text-shadow: none;
  padding: 5px 10px;
  margin: 5px;
  font-size: 12px;
}


.navbar .nav > li.active > a{
  background-color: rgba(193, 16, 25, 0.7);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#splash{
  height: 750px;
  background-color: rgba(228,25,16, 1);
}
#splash .centerer{
  text-align: center;
  margin: 0 auto;
}
#splash .centerer .positioner{
  position: relative;
  display: inline-block;
}

#splash h1 {
  margin-top: 250px;
  display: inline-block;
}

#splash .subheadline {
    position: absolute;
    right: 0px;
    font-size: 16px;
}
#splash .subheadline .contact-us-btn{
  padding: 5px 10px;
  color: rgba(228,25,16, 1);
  background-color: rgba(255, 255, 255, 1);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-decoration: none;
}


#mission{
  height: 650px;
  background-color: white;
  border-top: 1px solid rgba(228,25,16,1);
}
#mission h1{
  margin-top: 150px;
  margin-bottom: 50px;
  color: rgba(228,25,16, 1);
}
#mission .text{
  color: #555;
  font-size: 16px;
}

#work{
  height: 700px;
  background-color: #444444;
  border-top: 1px solid rgba(228,25,16,1);
  position: relative;
}
#work .screenshots img{
  position: absolute;
  left: 300px;
}
#work .row{
  margin-top:150px;
  position: relative;
}
#work .text-holder{
  padding: 20px;
  height: 300px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
#work .text-holder .work{
  display: none;
}
#work .text-holder .work:first-child{
  display: block;
}

#work .left-arrow, #work .right-arrow{
  margin-top: 150px;
}
#work .text-holder .headline{
  color: black;
  font-size: 26px;
}
#work .text-holder .text{
  color: #555;
  font-size: 14px;
}
#work .text-holder .url{
  color: rgba(228,25,16,1);
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}

#team{
  height: 750px;
  background-color: white;
  border-top: 1px solid rgba(228,25,16,1);
  position: relative;
}

#team .thumbs{
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
}
#team .thumbs img{
  margin-left: 10px;
  float: left;
  cursor: pointer;
  position: relative;
  z-index:2;
}
#team .thumbs .positioner{
  position: relative;
  display: inline-block;
}
#team .thumbs .selector{
  border: 2px solid rgba(228,25,16,1);
  width: 141px;/*50 per image shown. Media query to adjust this*/
  height: 60px;
  position: absolute;
  left: 2.5px;
  top: -10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  z-index:1;
}

#team .slider-container{
  margin: 100px auto 0 auto;
  height: 600px;
  width: 1050px;/*350 per image. Media query to adjust this*/
  position: relative;
}
#team .visible-container{
  height: 600px;
  width: 1050px;/*350 per image. Media query to adjust this*/
  overflow: hidden;
  position: relative;
}
#team .left-arrow{
  position: absolute;
  left: -50px;
  top: 300px;
}
#team .right-arrow{
  position: absolute;
  right: -50px;
  top: 300px;
}
#team .team-container{
  height: 600px;
  width: 3000px;/*Large number to fit all the members*/
  position:absolute;
  left: 0;
}
#team .team-container .member{
  width: 330px;
  height: 600px;
  margin: 0 20px 0 0;
  float: left;
}

#team .team-container .member img{
  margin: 0 auto;
  text-align: center;
  display: block;
}
#team .team-container .member h3{
  text-align: center;
  color: rgba(228,25,16,1);
  font-size: 30px;
  margin-bottom: 0px;
}
#team .team-container .member h5{
  text-align: center;
  font-size:14px;
  font-weight: bold;
  color: rgba(35,31,32,1);
  margin-top: 0px;
}
#team .team-container .member p{
  font-size: 14px;
  color: rgba(65,64,66,1);
}

#contact_us{
  height: 600px;
  background: url("http://maps.google.com/maps/api/staticmap?center=43.644479,-79.412279&zoom=16&markers=color:red|label:F|43.644479,-79.412279&size=1000x500&sensor=false&scale=2") no-repeat center;
  background-size: 100%;
  border-top: 1px solid rgba(228,25,16,1);
}

#contact_us .text-holder{
  margin-top:100px;
  padding: 20px;
  height:350px;
  background-color: rgba(228,25,16,1);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow:    3px 3px 10px 3px rgba(255,255,255,0.7);
  -webkit-box-shadow: 3px 3px 10px 3px rgba(255,255,255,0.7);
  box-shadow:         3px 3px 10px 3px rgba(255,255,255,0.7);
  font-size: 12px;
  color: rgba(255,255,255,0.8);
}

#contact_us .bookmark{
  width:75px;
  height: 60px;
  background-color: white;
  margin: -20px auto 0 auto;
  background: white url('../img/contact_logo.png') no-repeat center;
  -webkit-border-radius: 0 0 20px 20px;
  -moz-border-radius: 0 0 20px 20px;
  border-radius: 0 0 20px 20px;
}

#contact_us .headline{
  margin-top: 25px;
  font-size: 18px;
  font-weight: 400;
  color: white;
}

#contact_us .text{
  border-bottom: 1px solid rgba(255,255,255,0.5);
  padding-bottom: 15px;
  margin-bottom: 20px;
}
#contact_us .email{
  color: rgba(255,255,255,0.8);
  text-decoration: underline;
}
#contact_us .office-headline{
  margin-top: 20px;
  font-weight: 600;
  color: rgba(255,255,255,1);
}

#footer{
  height: 300px;
  background-color: black;
  border-top: 1px solid rgba(228,25,16,1);
}

#footer .headline{
  margin-top: 70px;
  padding-bottom: 15px;
  margin-bottom: 20px;
  color: white;
  font-size: 24px;
  font-weight: 400;
  border-bottom: 1px solid rgba(228,25,16,0.7);
}

#footer .navbar{
  margin-top: 50px;
  margin-bottom: 0px;
}

#footer .navbar .navbar-inner{
  background-color: black;
}

#footer .navbar .nav > li > a:focus,
#footer .navbar .nav > li > a:hover {
  color: rgba(228,25,16,1);
}

#footer .navbar .nav > li.active > a,
#footer .navbar .nav > li.active > a:focus,
#footer .navbar .nav > li.active > a:hover{
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: rgba(228,25,16,1);
}



