body{
  background-color: rgba(232,32,22, 1);
  color: white;
}

.navbar .navbar-inner{
  min-height:50px;
  background-image: none;
  background-color: rgba(232,32,22, 0.7);
  border:0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  filter: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.navbar .navbar-inner .container{
  padding-top: 10px;
  padding-bottom: 5px;
}

.navbar .brand{
  font-weight: 400;
  color: white;
  text-shadow: none;
}

.navbar .nav > li > a,
.navbar .nav > li.active > a
{
  color: rgba(255, 255, 255, 0.9);
  text-shadow: none;
  padding: 5px 10px;
  margin: 5px;
}


.navbar .nav > li.active > a{
  background-color: rgba(193, 16, 25, 0.7);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#splash_page{
  height: 650px;
}
#splash_page .centerer{
  text-align: center;
  margin: 0 auto;
}
#splash_page .centerer .positioner{
  position: relative;
  display: inline-block;
}

#splash_page .headline {
    margin-top: 250px;
    font-size: 56px;
    font-weight: 400;
    display: inline-block;
}

#splash_page .subheadline {
    position: absolute;
    right: 0px;
    font-size: 18px;
    font-weight: 400;
}
#splash_page .subheadline .contact-us-btn{
  padding: 5px 10px;
  color: rgba(232, 32, 22, 1);
  background-color: rgba(255, 255, 255, 1);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-decoration: none;
}


#mission_page{
  height: 500px;
  background-color: white;
  border-top: 1px solid rgba(232,32,22,1);
}
#mission_page .headline{
  margin-top: 150px;
  margin-bottom: 50px;
  font-size: 48px;
  font-weight: 400;
  color: rgba(232, 32, 22, 1);
}
#mission_page .text{
  color: #555;
  font-size: 18px;
  font-weight: 400;
}

#work{
  height: 700px;
  background-color: #444444;
  border-top: 1px solid rgba(232,32,22,1);
}
#work .text-holder{
  padding: 20px;
  height: 300px;
  margin-top: 150px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
#work .text-holder .headline{
  color: black;
  font-size: 32px;
  font-weight: 400;
}
#work .text-holder .text{
  color: #555;
  font-size: 14px;
}
#work .text-holder .url{
  color: rgba(232,32,22,1);
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}

#team{
  height: 700px;
  background-color: white;
  border-top: 1px solid rgba(232,32,22,1);
}

#contact_us{
  height: 500px;
  background: url("http://maps.googleapis.com/maps/api/staticmap?center=300+862+Richmond+Street+West,+Toronto,+ON&zoom=16&size=2400x2400&sensor=false");
  border-top: 1px solid rgba(232,32,22,1);
}

#footer{
  height: 300px;
  background-color: black;
  border-top: 1px solid rgba(232,32,22,1);
}

#footer .headline{
  margin-top: 70px;
  padding-bottom: 15px;
  margin-bottom: 20px;
  color: white;
  font-size: 24px;
  font-weight: 600px;
  border-bottom: 1px solid rgba(232,32,22,0.7);
}

#footer .navbar{
  margin-top: 50px;
}

#footer .navbar .navbar-inner{
  background-color: black;
}

#footer .navbar .nav > li > a:focus,
#footer .navbar .nav > li > a:hover {
  color: rgba(232,32,22,1);
}

#footer .navbar .nav > li.active > a,
#footer .navbar .nav > li.active > a:focus,
#footer .navbar .nav > li.active > a:hover{
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: rgba(232,32,22,1);
}



