*{
	opacity: 1;
}
.step{
	margin: 200px auto;
	opacity: 1 !important;
	clear: both;
}
.greyBack{
	filter:inherit;
	background: #E0E0E0 url(../images/bg.png) repeat-x bottom;
	-webkit-border-radius: 	20px;
	-moz-border-radius: 		20px;
	border-radius: 					20px;
	behavior: url(PIE.htc);

}

#home{
	text-align: center;
}
.hint{
	display: none;
}
#global-next, #global-prev {
	display: none;
}
#nav{
	position: fixed;
	top: 0px;
	width: 100%;
	background: #e1e1e1;
	height: 35px;
	z-index: 1000;
}
#testimonials{
	width: 800px;
}
	#testimonials #play-pause{
		margin: 20px auto;
		display: block;
	}
	
p.center{
	text-align: center;
}

#about{
	margin-bottom: 400px;
}

#testimonials{
	
}
	#testimonials .step{
		margin: 50px 0;
	}

#profiles{
	margin-top: 400px;
}
	#profiles .step{
		float: left;
		width: 250px;
		clear: none;
		margin: 50px 20px 150px;

	}
		#profiles .step img{
			margin: 0 0 10px;
			display: block;
		}
#contact{
	margin-bottom: 800px;
}


#nav li a{
 		behavior: url(PIE.htc);
 		letter-spacing: 1px;

}

